# Temp files
.DS_Store
*~
buck-out/
sandbox.ipynb
geckodriver

# IDEs
/.idea/
/.vscode/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/scripts/data/
/node_modules/

# docs
/docs/generated/
/docs/_build/
.DS_store
*.pye

Sandbox.ipynb
test.ipynb
*.zarr

upload*

/local_scripts/
